*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkorange;
}

h1{
    text-align: center;
    font-size: 8em;
    color: darkred;
}

h2{
    text-align: right;
    color: darkviolet;
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}